

marquee.html {
  height:77px;
}

.image{
  background-image:url("src\assets\img2.jpg");
  height: 100%;
  width: 100%;
    position: absolute;
    display: block;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 6;
    z-index: -1;

}

h1 {
  float: 213px;
  margin-left: 190px;
}


.clock {
  font-size: 3rem;
}
