<div class="image">
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-info col-sm-12">
  <p-sidebar [(visible)]="visibleSidebar1" *ngIf="visibleSidebar1" [baseZIndex]="10000">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active active-class" routerLink='/' routerLinkActive="router-link-active"
          (click)="sideclose()">
          <i class="fa fa-institution" style="font-size:20px; color:red">Home</i></a>

      </li>
      <li class="nav-item">
        <a class="nav-link active active-class" routerLink='/empdisp' routerLinkActive="router-link-active"
          (click)="sideclose()">
          <i class="fa fa-address-book" style="font-size:20px;color:red">Employees list</i></a>

      </li>
      <li class="nav-item">
        <a class="nav-link active active-class" routerLink='/addemp' routerLinkActive="router-link-active"
          (click)="sideclose()">
          <i class="fa fa-plus-square" style="font-size:20px;color:red">Add Employees</i></a>

      </li>
<!--
      <li class="nav-item">
        <a class="nav-link" routerLink='/editemp' routerLinkActive="router-link-active" (click)="sideclose()">
          <i class="fa fa-pencil-square-o" style="font-size:20px;color:red">Edit Employees </i></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink='/primeng' routerLinkActive="router-link-active" (click)="sideclose()">
          <i class="fa fa-shield" style="font-size:20px;color:red">Pime Component </i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/tree' routerLinkActive="router-link-active" (click)="sideclose()">
          <i class="fa fa-tree" style="font-size:20px;color:red">Tree Table </i></a>
      </li>

    </ul>

  </p-sidebar>

<!---------------Nav Bar--------------------->

  <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow" class="btn btn-primary"><i
      class="fa fa-bars"></i></button>
  <!-- <a class="navbar-brand " style="right:200px ;"><b><h5>Employee Details</h5></b></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
          <i class="fa fa-institution" style="font-size:20px; color:black">Home</i><span
            class="sr-only">(current)</span></a>
      </li><br>

      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/empdisp']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book" style="font-size:20px;color:black">Employees list</i> <span
            class="sr-only">(current)</span></a>
      </li><br>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/addemp']" routerLinkActive="router-link-active">
          <i class="fa fa-plus-square" style="font-size:20px;color:black">Add Employees</i> <span
            class="sr-only">(current)</span></a>
      </li>


        <li class="nav-item">
            <a class="nav-link" routerLink='/primeng' routerLinkActive="router-link-active" (click)="sideclose()">
              <i class="fa fa-shield" style="font-size:20px;color:black">Pime Component </i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/tree' routerLinkActive="router-link-active" (click)="sideclose()">
              <i class="fa fa-tree" style="font-size:20px;color:black">Tree Table </i></a>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>

    </ul>
    <!-- <a class="navbar-brand " style="right:500px ;"><b><h1>EMPLOYEE DETAILS</h1></b></a> -->

  </div>

  <div class="clock"><b>
      <span class="hour">{{ hours }}:</span>
      <span class="min">{{ minutes }}:</span>
      <span class="second">{{ seconds }}</span></b>
    </div>
</nav>


<marquee><b><i>
      <h1> Employee Details of SkyCliff IT Pvt. Ltd Dharwad</h1>
    </i></b></marquee>
